* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: Roboto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #F9EEE3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}




/* header style starts here */

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 0;
}

.header-bar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar .nav .nav-list {
    margin-left: 44px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #322F2E;
}

.header-bar .nav button {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #C47344;
    border-radius: 50px;
    border: none;
    padding: 13px 28px;
    margin-left: 30px;
}

/* section style starts here */

.section{
    text-align: center;

}
.buttons{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 12px;
    margin-top: 177px;
}
.buttons .button-new{
    padding: 10px 16px;
    text-align: center;
    color: #FFFFFF;
    background: #F9A38F;
    border-radius: 20px;
    border: none;
}

.buttons .button-report{
    padding: 10px 30px;
    text-align: center;
    color: #4D4D4D;
    background: #ecc29b;
    border-radius: 20px;
    border: none;
}

.tittle{
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 119px;
    color: #322F2E;
    margin-bottom: 28px;
}

.text{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    color: #322F2E;
    margin-bottom: 20px;
}

.learn-more{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
   
    border-radius: 50px;
    border: none;
    padding: 14px 32px;
    margin-bottom: 52px;
}

.magenta{
    background: #C47344;
}

.first-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.link{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #C47344;
    align-items: center;
    position: relative;

}
.link img{
    position: absolute;
    right: -30px;
}

/* page photo style */

.page-photo{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 132px;
}

/* styling the main  */

.main-section{
    display: flex;
    justify-content: center;
    
}
.main-section-item{
    padding: 26px;
    text-align: center;
    margin: 30px;
    background: #FFFAF2;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.main-section .main-section-item img{
    padding: 51px 136px;
    margin-bottom: 26px;
}

.main-section-item h2{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    color: #322F2E;
    margin-bottom: 16px;
}

.main-section-item p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #322F2E;
    margin-bottom: 23px;
}

.main-section-item .btn-bc-white{
    color: #000000;
    background: #FFFAF2;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}


.quiz-section{
    margin-top: 150px;
    margin-bottom: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-section .quiz-book{
    padding: 85px;
}

.quiz-section .quiz-section-content{
    text-align: left;
}
.new-button{
    padding: 10px 16px;
    text-align: center;
    color: #FFFFFF;
    background: #F9A38F;
    border-radius: 20px;
    border: none;
}
.quiz-section-content h3{
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 62px;
    color: #322F2E;
    margin-top: 18px;
    margin-bottom: 25px;
}
.quiz-section-content p{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    color: #322F2E;
    margin-bottom: 23px;
}

.quiz-section-content .quiz{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    padding: 11px 27px 16px 27px;
    border: 2px solid #E1DED9;
    border-radius: 50px;
}

/* section email style strats here */

.section-insider{
    display: flex;
    align-items: center;
    background: #FAF7F3;
    border-radius: 10px;
}

.section-insider .section-email-photo{
    padding: 50px;
}

.section-email-content h2{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #1A1918;
    margin-bottom: 24px;
}

.section-email-content p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #322F2E;
    margin-bottom: 32px;
}
.form{
    position: relative;
}
.section-email-content .form input{
    width: 380px;
    padding: 12px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.45);
    background: #FFFFFF;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
}
.section-email-content .form img{
    position: absolute;
    left: 325px;
    top: 16px;
}


/* footer style starts here */

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 140px 0 0 0;

}
.footer-container .arcarta-info img{
    margin-bottom: 20px;
}
.arcarta-info p{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #313131;

}
.arcarta-info .norm{
    margin-bottom: 30px;
}

.arcarta-info .bold{
    font-weight: bold;
    margin-bottom: 10px;
}
.arcarta-info .small{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #D3D3D3;
    margin-bottom: 20px;
}

.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media .social-media-icons{
    display: flex;

}
.social-media-icons a{
    margin-left: 12px;
}
.social-media-icons .small{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #D3D3D3;
    margin-bottom: 20px;
}


.footer-list .footer-list-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #313131;
    margin-bottom: 7px;
}

.footer-list .first-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
}

